.row
  .col-lg-10.col-lg-offset-1
    -unless @form.blank?
      %table.table.table-condensed
        %col{:width => 200}
        %col{:width => 200}
        %col{:width => 450}
        %col{:width => 80}
        %tr
          %th= 'Instytut'
          %th= 'Wykładowca'
          %th= 'Pytanie'
          %th= 'IP'
          %th
        -@form.votes.each do |vote|
          %tr
            %td= vote.institute.name
            %td= vote.lecturer.lastname + " " + vote.lecturer.firstname
            %td= vote.question.content
            %td= vote.ip
            %td
    -else
      %h3.form-centered Brak głosów
