.row
  .col-lg-6.col-lg-offset-3
    %table.table.table-condensed
      %tr
        %th= 'Nazwisko'
        %th= 'Imię'
        %th= 'Details'
        %th
      -@lecturers.each do |lecturer|
        %tr
          %td= lecturer.lastname
          %td= lecturer.firstname
          %td=link_to "Show", lecturer_path(lecturer[:id]), class: 'btn btn-primary'
          -#%td=link_to "Edit", edit_institute_path(institute[:id]), class: 'btn btn-primary'
          %td=link_to "Delete", lecturer_path(lecturer.id), :method => 'delete', data: { confirm: "Czy aby na pewno?" }
.row
  .col-lg-6.col-lg-offset-3
    =link_to "New", new_lecturer_path, class: 'btn btn-primary'