.row
  .col-lg-2
    = bootstrap_form_tag url: '/votes', :method => 'get' do |f|
      = f.text_field :lastname_search, label: "Nazwisko"#, params[:search]
      = f.text_field :firstname_search, label: "Imię"
      = f.text_field :institute_search, label: "Instytut"
      = f.text_field :ip_search, label: "IP"
      = submit_tag "Szukaj", :name => nil, class: "btn btn-primary"
  .col-lg-10
    -unless @votes.blank?
      %table.table.table-condensed
        %col{:width => 200}
        %col{:width => 200}
        %col{:width => 450}
        %col{:width => 80}
        %tr
          %th= 'Instytut'
          %th= 'Wykładowca'
          %th= 'Pytanie'
          %th= 'IP'
          %th
        -@votes.each do |vote|
          %tr
            %td= vote.institute.name
            %td= vote.lecturer.lastname + " " + vote.lecturer.firstname
            %td= vote.question.content
            %td= vote.ip
            %td
    -else
      %h3.form-centered Brak głosów
    .col-lg-offset-5.digg_pagination.form-centered
      =will_paginate @votes, :container => false
-#=link_to "Edytuj", edit_question_path(question[:id]), class: 'btn btn-primary'
-#=link_to "Usuń", question_path(question.id), :method => 'delete', data: { confirm: "Czy aby na pewno?" }, class: 'btn btn-primary'
-#.row
-#  .col-lg-8.col-lg-offset-2
-#    =link_to "Nowe pytanie", new_question_path, class: 'btn btn-primary'
-#{:style => "text-align: center"}