!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default.navbar-fixed-top#app_nav
      .container.col-lg-8.col-lg-offset-2
        .navbar-header
          %span.navbar-brand.big-label Ankieta
    .container
      .row
        .col-lg-8.col-lg-offset-2
          - flash.each do |type, message|
            .alert{ class: bootstrap_class_for(type)}
              = message

      = yield
    = debug(params) if Rails.env.development?
